header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 3;
}

.headerContainer {
    width: 100%;
}